:root {
    --mora: #830686;
    --oscuro: #ffffff;
    --primario:
        #30f1a4;
    --secundario:
        #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --fuentePrincipal: 2rem;
}


*,
*:before,
*::after {
    box-sizing: inherit;
}



html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
}

h1,
h2,
h3 {
    text-align: center;
}


.titulo {
    color: var(--mora);
}

.titulo span {
    font-size: 2rem;
    color: var(--gris);
}

body {
    padding: 2%;
    font: 18px/1.4 sans-serif;
}

nav a {
    color: #000000;
    background-color: var(--grisClaro);
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav a:hover {
    color: var(--primario);
}


@media(min-width: 780px) {

    .nav {
        flex-direction: row;
        justify-content: space-between;
    }
}


.imagen_encabezado {
    background-image: url(https://c.wallhere.com/photos/d9/c9/web_clot_light_lines_neon-1078741.jpg!d);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.contenido_encabezado {
    position: absolute;
    background: rgb(0 0 0 /65%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido_encabezado h2,
.contenido_encabezado p {
    color: var(--grisClaro);
    font-size: var(--fuentePrincipal);
}

.btn_contact {
    background-color: var(--azulclaro);
    color: var(--grisClaro);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}


@media(min-width: 768px) {
    .btn_contact {
        width: auto;
    }
}


.btn_contact:hover {
    cursor: pointer;
}


.imagen_encabezado_dos {
    background-image: url(https://img.freepik.com/vector-gratis/escena-paisaje-retro-80-estilo-juego_1017-32947.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
}

.contenido_encabezado_dos {
    position: absolute;
    background: rgb(0 0 0 /65%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ubicacion_dos {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn_contact_dos {
    color: var(--grisClaro);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.contenido_encabezado_dos h3,
.contenido_encabezado_dos p {
    color: var(--grisClaro);
    font-size: var(--fuentePrincipal);
}


@media(min-width: 768px) {
    .btn_contact_dos {
        width: auto;
    }
}


.btn_contact_dos:hover {
    cursor: pointer;
}



.sombra {
    box-shadow: 0px 5px 15px 0px var(--primario);
    background-color: #C7E8CA;
    padding: 2rem;
    border-radius: 1rem;
}

.contenedor_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    align-items: baseline;
}

@media (min-width: 768px) {
    .contenedor_main {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        align-items: baseline;
    }
}

.contenedor_main h4 {
    color: var(--gris);
    font-weight: normal;
}

.contenedor_main .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--mora);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms {
    background-color: rgb(87, 75, 60);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    align-items: center;
}

.forms fieldset {
    border: none;
}

.forms fieldset legend {
    margin: 0 auto;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 3rem;
    color: var(--azulclaro);
}


@media (min-width: 768px) {

    .btn_form {
        justify-content: flex-end;
    }

    .btn_form .btn_contact {
        width: auto;
    }
}

.btn_form {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
}